<div class="inventory-page">

  <div class="header">
    <h2>Inventory</h2>

    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        pInputText
        type="text"
        placeholder="Search medicine"
        [(ngModel)]="searchText"
      />
    </span>
  </div>

  <p-table
    [value]="medicines"
    [paginator]="true"
    [rows]="20"
    [rowHover]="true"
    [scrollable]="true"
    scrollHeight="calc(100vh - 180px)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Medicine</th>
        <th>Company</th>
        <th>Batch</th>
        <th>Expiry</th>
        <th>Stock</th>
        <th>MRP</th>
        <th>Action</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
      <tr>
        <td>{{ row.name }}</td>
        <td>{{ row.company }}</td>
        <td>{{ row.batch }}</td>
        <td>{{ row.expiry }}</td>

        <td>
          <span
            class="stock"
            [class.low]="isLowStock(row.stock)"
            [class.out]="isOutOfStock(row.stock)"
          >
            {{ row.stock }}
          </span>
        </td>

        <td>{{ row.mrp }}</td>

        <td>
          <button
            pButton
            icon="pi pi-pencil"
            class="p-button-text p-button-sm"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>
